---
import Section from "../Section.astro";
import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import { skills } from "@cv";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Figma from "@/icons/Figma.astro";
import Gitlab from "@/icons/Gitlab.astro";
import Python from "@/icons/python.astro"

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Swift,
  SwiftUI,
  Kotlin,
  Flutter,
  Figma,
  Gitlab,
  Python
};

function getProgressWidth(level: number) {
  return `width: ${level}%;`;
}
---

<Section className={Astro.props.className} title="Skills">
  <ul class="space-y-2">
    {skills.map(({ name, level }) => {
      const iconName = name === "Next.js" ? "Next" : name;
      const Icon = SKILLS_ICONS[iconName];
      const percentage = typeof level === 'string' ? parseInt(level) : level;

      return (
        <li>
          <div class="flex justify-between items-center">
            <span class="text-sm flex items-center gap-1">
              {Icon && <Icon class="size-4 text-skin-hue" />}
              {name}
            </span>
            <span class="text-xs text-skin-muted">{percentage}%</span>
          </div>
          <div class="w-full bg-skin-muted rounded-full h-1.5 mt-1">
            <div class="bg-skin-hue h-1.5 rounded-full" style={getProgressWidth(percentage)}></div>
          </div>
        </li>
      );
    })}
  </ul>
</Section>